
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 25px;
}

a {
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: 'bromello';
    src: url('fonts/bromello/bromello.ttf');
}
@font-face {
    font-family: 'bignoodletitling';
    src: url('fonts/bignoodletitling/big_noodle_titling.ttf');
}
@font-face {
    font-family: 'lato';
    src: url('fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'bebas-neue';
    src: url('fonts/bebas_neue/BebasNeue.otf');
}

#connection-link {
    float: left;
    text-decoration: none;
    color: white;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/bg.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title {
    font-family: 'bromello', arial, sans-serif;
    font-size: 6vw;
}

.title-vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.text-centered {
    text-align: center;
}

.text-lato {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'lato', arial, sans-serif;
}

.text-large {
    font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.container-topnav-items {
    width: 80%;
}

.container-topnav-items > .topnav-item {
    width: 20%;
    font-family: 'bignoodletitling';
    font-size: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #80D0D0;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 850px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .container-topnav-items > .topnav-item {
        width:73%;
    }

    .topnav.responsive a.icon {
        position: fixed;
        right: 10%;
        bottom: 0;
    }

    .topnav.responsive {position: fixed;}

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.container-grey {
    background-color: #c4cbcc;
}

.page-container {
    display: table;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.page-container > h2 {
    text-align: center;
    font-family: 'bromello';
    font-size: 5vw;
    margin-top: 35px;
}

.page-container > h3 {
    text-align: center;
    font-family: 'bromello';
    font-size: 3vw;
}

.page-container > hr{
    clear: both;
    border: 0.5px solid black;
    text-align: center;
    width: 50%;
    color:black;
    margin-bottom: 25px;
}

.page-container > .content-page {
    width:80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.creation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 85%;
    margin:auto;
    padding:0 5% 0 5%;
    box-sizing: border-box;
}

@media screen and (max-width: 540px) {
    .creation {
        margin-top:25px;
    }
}

.creation {
    width: 200px;
    height: 200px;
    border: 5px solid #80D0D0;
    list-style: none;
    margin-left:30px;
    margin-right:30px;
}

.creation > img {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    margin:10%;
}

.creation > a {
    color:black;
}

span.glyphicon-plus {
    font-size: 170px;
    color:black;
    display: block;
    margin: auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
}





form {
    background-color: white;
    border: 3px solid #f1f1f1;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    padding: 16px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type="submit"] {
    background-color: #80D0D0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
input[type="submit"]:hover {
    opacity: 0.8;
}

.download-cv {
    font-family: 'bebas-neue', arial, sans-serif;
    margin-bottom: 80px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
















