{#<?php#}
<head>
    {# Capistrano robots #}
    <meta charset="utf-8">

    <link rel="icon" type="image/png" href="images/favicon.png" />

    {% set title = 'Jeanne-lesaulnier' %}
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>


    {#{% include 'layout/commons/favicons' %}#}

    {# Styles #}
    {% block styles %}
        <link href="/css/app.css" rel="stylesheet">
        <link href="/js/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
        {#
        <link href="{{asset('vendor/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendor/css/bootstrap-theme.min.css')}}" rel="stylesheet">
        #}
    {% endblock %}

    {% block top_javascript %}
        <script type='text/javascript' src='/js/jquery.min.js'></script>
        <script type='text/javascript' src='/js/bootstrap.min.js'></script>
        <script type='text/javascript' src='/js/respond.min.js'></script>
        <script type='text/javascript' src='/js/html5shiv.js'></script>
    {% endblock %}


</head>
<body>
{% block header %}
<header>
        {% include '/application/index/commons/main-menu' %}
</header>
{% endblock %}


<main>

        {% block content %}
            {{ content|raw }}
        {% endblock %}

</main>

{% block footer %}
    {#{% include '/application/index/footer' %}#}
{% endblock %}

{% block notification %}
    {#{% include 'layout/commons/notification' %}#}
{% endblock %}


{% block bottom_javascripts %}
    <script type='text/javascript' src='/js/tinymce/js/tinymce/tinymce.js'></script>
    <script type='text/javascript' src='/js/magnific-popup/dist/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='/js/tinymce.js'></script>
    <script type='text/javascript' src='/js/app.js'></script>
{% endblock %}


{% block flash_messages %}
    {#{% include '/layout/notification' %}#}
{% endblock %}


</body>
</html>
