<section class="page-container container-grey">
    <h2 id="about">Qui suis-je</h2>
    <hr/>

    <div class="text-lato">
        <p class="text-centered">
            Venant de terminer ma 4eme année à l'ISCOM de Paris,
        </p>
        <p class="text-centered text-large">
            je suis à la recherche d'un emploi dans<br/>
            le domaine de la communication et du marketing.
        </p>

        <p class="text-centered">
            Si mon travail vous plait<br/>
            et que vous souhaitez que nous nous rencontrons,<br/>
            n'hésitez pas à me contacter !
        </p>
    </div>

    <p class="text-centered ">
        <h3> Jeanne Lesaulnier </h3>
    </p>
</section>