<section class="page-container container-blue js-navbar__anchor" id="about">
    <h2 class="section-title">Qui suis  je ?</h2>
    <hr/>

    <div class="text-lato js-tinymce__target content-container" id="tinymce{{ random() }}" data-url="url a construire">
        <p class="text-centered">
            Venant de terminer mes études à l'ISCOM de Paris,<br/>
            <span class="text-large">
                je suis à la recherche d'un emploi dans<br/>
                les domaines de la communication et du marketing.
            </span>

        </p>

        <p class="text-centered">
            Si mon travail vous plaît<br/>
            et que vous souhaitez que nous nous rencontrons,<br/>
            n'hésitez pas à me contacter !
        </p>
    </div>

    <p class="text-centered ">
        <h3> Jeanne Lesaulnier </h3>
        <h4 class="text-centered download-cv"><a href="{{ url('download-cv') }}"><span class="fa fa-download"></span> TELECHARGER MON CV</a></h4>
    </p>
</section>