<section class="page-container container-blue anchor" id="about">
    <h2>Qui suis  je ?</h2>
    <hr/>

    <div class="text-lato">
        <p class="text-centered">
            Venant de terminer ma 4ème année à l'ISCOM de Paris,<br/>
            <span class="text-large">
                je suis à la recherche d'un emploi dans<br/>
                le domaine de la communication ou du marketing.
            </span>

        </p>

        <p class="text-centered">
            Si mon travail vous plaît<br/>
            et que vous souhaitez que nous nous rencontrons,<br/>
            n'hésitez pas à me contacter !
        </p>
    </div>

    <p class="text-centered ">
        <h2> Jeanne Lesaulnier </h2>
        <h4 class="text-centered download-cv"><a href="{{ url('download-cv') }}"><span class="fa fa-download"></span> TELECHARGER MON CV</a></h4>
    </p>
</section>