<div class="topnav" id="myTopnav">
    <section class="container-topnav-items">
        <a href="{{ url('home') }}#home" class="topnav-item js-smooth-scroll">ACCUEIL</a>
        <a href="{{ url('home') }}#creation" class="topnav-item js-smooth-scroll">MES RÉALISATIONS</a>
        <a href="{{ url('home') }}#myCourse" class="topnav-item js-smooth-scroll">MON PARCOURS</a>
        <a href="{{ url('home') }}#about" class="topnav-item js-smooth-scroll">QUI SUIS-JE ?</a>
        <a href="javascript:void(0);" class="icon js-menu__display" onclick="displayResponsiveMenu()">&#9776;</a>
    </section>
</div>

<script>
    function displayResponsiveMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    $(document).ready(function() {
        $('.js-smooth-scroll').on('click', function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
        });
    });
</script>