<div class="topnav" id="myTopnav">
    <section class="container-topnav-items">
        <a href="{{ url('home') }}#home" class="topnav-item">ACCUEIL</a>
        <a href="{{ url('home') }}#creation" class="topnav-item">MES RÉALISATIONS</a>
        <a href="{{ url('home') }}#myCourse" class="topnav-item">MON PARCOURS</a>
        <a href="{{ url('home') }}#about" class="topnav-item">QUI-SUIS-JE ?</a>
        <a href="javascript:void(0);" class="icon js-menu__display" onclick="displayResponsiveMenu()">&#9776;</a>
    </section>
</div>

<script>
    function displayResponsiveMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>