<section class="page-container container-grey js-navbar__anchor" id="myCourse">
    <h2 class="section-title">Mon parcours</h2>
    <hr/>
    <br/>
    <img src='images/fleche.png' class="content-page">
</section>