{% extends 'layout/layout' %}

{% block content %}

    <section class="page-container container-grey"  id="creation">

        <div class="title text-centered text-bebas">
            <h3>{{ creation.title }}</h3>
        </div>



    </section>

{% endblock %}