{% extends 'layout/layout' %}

{% block content %}
    <header class="header" id="home">
        {% if not zfcUserIdentity() %}
            <a href="{{ url('zfcuser/login') }}" id="connection-link">.</a>
        {% else %}
            <a href="{{ url('zfcuser/logout') }}" id="connection-link">.</a>
        {% endif %}

        <div id="top" class="title text-centered title-vertical-center">
            <h1>Jeanne Lesaulnier</h1>
        </div>
    </header>

    {% include '/application/index/commons/creation' %}

    {% include '/application/index/commons/my-course' %}

    {% include '/application/index/commons/about-me' %}

{% endblock %}