{% extends 'layout/layout' %}

{% block content %}
    {#{% include 'zfc-user/user/login' %}#}
    <header class="header" id="home">
        {% if not zfcUserIdentity() %}
            <a href="{{ url('zfcuser/login') }}" id="connection-link">Connection</a>
        {% else %}
            <a href="{{ url('zfcuser/logout') }}" id="connection-link">{{ zfcUserIdentity().getDisplayname() }} Deconnection</a>
        {% endif %}

        <div id="top" class="text-vertical-center">
            <h1>Jeanne Lesaulnier</h1>
        </div>
    </header>

    <section class="page-container container-grey"  id="creation">
        <h2>Mes realisations</h2>
        <hr/>
        <ul class="creation-container">
            {% for creation in creations %}

            {% endfor %}
            <li class="creation text-vertical-center js-creation__add" data-url="{{ url('add-creation-page') }}"><span class="glyphicon glyphicon-plus"></span></li>
        </ul>
    </section>

    <section class="page-container container-grey">
        <h2 id="myCourse">Mon parcours</h2>
        <hr/>
        <img src='images/fleche.png' class="content-page">
    </section>

{% endblock %}