{% extends 'layout/layout' %}

{% block content %}

    <div class="title title-center">
        <h1>Connexion</h1>
    </div>

    <form action="{{ url('zfcuser/login') }}" method="post" class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="identity" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="credential" required>

        <button type="submit">Login</button>
    </form>

{% endblock %}